/* Make the image fully responsive */

.app-carousel{
    margin-top: 2%;
    margin-bottom: 0.7rem;
    border-radius: 6px;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-item {
  height: 250px;
  overflow: hidden;
  width: 100%;
  }
  .carousel-item img {
  width: 100%;
  }

  @media only screen and (min-width: 600px) {
    [class*="carousel-item"] {
      height: 150px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    [class*="carousel-item"] {
      height: 450px;
    }
  }

