<!-- Footer -->
<footer class="footer mt-auto py-3 app-footer">
    <div class="text-center">
        <span>
            <a href="https://www.facebook.com/Paripoorna-by-Priya-kashyap-491107937965878/" target="_blank"> 
                <i class="bi bi-facebook" style="font-size: 1.5rem; color: cornflowerblue;"></i>
              </a>
      </span>
      <span>
            <a>
                    <i class="bi bi-instagram" style="font-size: 1.5rem; color: cornflowerblue;"></i>
                  </a>
      </span>
      <span>
            <a>
                    <i class="bi bi-twitter" style="font-size: 1.5rem; color: cornflowerblue;"></i>
                  </a>
      </span>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Paripoorna</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->