<div class="page-header">
  <div class="row">
    <div class="col">
      <span>
        <ul style="list-style: none;">
          <li>
            <a href="https://www.facebook.com/Paripoorna-by-Priya-kashyap-491107937965878/" target="_blank"> 
              <i class="bi bi-facebook" style="font-size: 1.5rem; color: cornflowerblue;"></i>
              <!-- <img src="../../../assets/facebook.svg" height="1.5rem" width="1.5rem"> -->
              
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-instagram" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-twitter" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            </a>
          </li>
        </ul>
      </span>
    </div>
    <div class="centre col">
      <a>
        <img src="../../../assets/logo-removebg-preview.png"  alt="" class="brand">
        <!-- <span class="brandName">Paripoorna</span> -->
      </a>
    </div> 
    <div class="col">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link app-nav-top" href="#">
                <i class="bi bi-cart" style="font-size: 1.5rem; color: cornflowerblue; float : right;"></i>
            </a>
          </nav>
      
    </div>
  </div> 
      <nav class="nav nav-pills nav-fill">
        <a class="nav-link app-nav active" aria-current="page" href="#">Home</a>
        <a class="nav-link app-nav" href="#">Saree</a>
        <a class="nav-link app-nav" href="#">Salwar</a>
        <a class="nav-link app-nav" href="#">Accessories</a>
        <a class="nav-link app-nav" href="#">Others</a>
        <a class="nav-link app-nav" href="#">About Us</a>
      </nav>
</div>
<div class="mobile-nav">
  <app-navbar-mobile></app-navbar-mobile>
</div>