@media (max-width: 767px){
    .page-header {
        display: none;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #dddddd;
    }
}

.mobile-nav{
    margin-top: 2%;
}


.centre {
    text-align: center;
    margin-bottom: 0px;
    align-self: center;
}

.brand{
    width: 100px;
    height: 100px;
    margin-right: 2%;
}

.app-nav{
    color: black;
    font-style: italic;
    font-size: 20px;
}

.app-nav-top{
    color: black;
    font-style: italic;
    font-size: 17px;
    margin: 0%;
    padding: 0%
}

ul > li {
    display: inline-block;
    margin-right: 1%;
    /* You can also add some margins here to make it look prettier */
}

ul{
    padding-left: 0rem;
}