<div class="">
  <div class="centre">
    <a>
      <img src="../../../assets/logo-removebg-preview.png"  alt="" class="brand">
      <!-- <span class="brandName">Paripoorna</span> -->
    </a>
  </div>  
      <!-- <nav class="navbar navbar-dark navBar">
        <a class="navbar-brand" href="#" class = "navBarBrand">
          <img src="./../assets/logo.jpg" width="30" height="30" alt="" >
          Paripoorna
        </a>
      </nav> -->
      <nav class="nav nav-pills nav-fill">
        <a class="nav-link app-nav active" aria-current="page" href="#">Home</a>
        <a class="nav-link app-nav" href="#">Saree</a>
        <a class="nav-link app-nav" href="#">Salwar</a>
        <a class="nav-link app-nav" href="#">Accessories</a>
        <a class="nav-link app-nav" href="#">About Us</a>
      </nav>
</div>