.navBarBrand{
    margin-left: 16px;
    color : white;
    text-decoration: none;
    font-size: x-large;
}

.navBar{
    background-color: white
}

.centre {
    text-align: center;
    margin-bottom: 0px;
    align-self: center;
}

.brand{
    width: 100px;
    height: 100px;
    margin-right: 2%;
}

.brandName{
    font-size: 40px;
    color: burlywood;
    font-style: italic

}

.app-nav{
    color: black;
    font-style: italic;
    font-size: 20px;
}

ul > li {
    display: inline-block;
    margin-right: 1%;
    /* You can also add some margins here to make it look prettier */
}

ul{
    padding-left: 0rem;
}